.container {
    display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px;
}

.info {
    text-align: center;
    border-bottom: 5px solid gray;
    padding: 20px;
    margin-bottom: 20px;
    background-color: salmon;
    color: rgb(34, 34, 34);
}